body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1440px;
    margin: 0 auto;
    outline: 2px solid red;
}

.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo .accent {
   color: #2E2F42;
}

.header-link {
    color: #2E2F42; 
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
}

.header-link:hover {
    color: #404BBF;
}

.header-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.contacts-link {
    color:  #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover {
    color: #404BBF;
}

.contacts-link:focus {
    color: #404BBF;
}

.hero-section {
    padding-bottom: 120px;
}

.hero-container {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-right: 472px;
    padding-left: 472px;
    padding-bottom: 188px;
}



.hero-title {
    color:  #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
}

.button-title {
    background: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
}

.button-title:hover {
    background-color: #404BBF;
}

.button-title:focus {
    background-color: #404BBF;
}

.secondary-section {
    padding-bottom: 120px;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.advantages-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.third-section {
    background-color: #F4F4FD;
}

.title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
}

.third-section {
    padding-bottom: 120px;
}

.third-list {
    background-color: #FFFFFF;
    margin-bottom: 32px;
}

.test-img {
    margin-bottom: 32px;
}

.third-title-team {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    padding-bottom: 8px;
}

.third-text-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}

.fourth-section {
    padding-bottom: 120px;
}

.fourth-list {
    margin-bottom: 32px;
}

.fourth-title-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.fourth-text-portfolio {
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}



footer {
    background-color: #2e2f42;

}

.footer-container {
    padding-top: 101.5px;
    padding-right: 1020px;
    padding-left: 156px;
    padding-bottom: 100px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo .accent {
    color: #F4F4FD;
}

.footer-text {
    color:  #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 17.5px;
}